<header>
  <div class="dash">Dashboard</div>
  <div class="search-box">
    <input
      type="text"
      placeholder="Search Here..."
      #searchInput
      (input)="onSearch(searchInput.value)"
    />
  </div>
  <div class="notifications-block">
    <div class="notifications">
      <img src="../../assets/notifications.png" />
      <div class="notifications-number"><span class="center">6</span></div>
    </div>
    <div class="notifications email">
      <img src="../../assets/mail.png" />
      <div class="notifications-number yellow">
        <span class="center">17</span>
      </div>
    </div>
    <div class="user">
      <img class="avatar" src="../../assets/avatar.png" />
      <div class="greetings">
        <div *ngIf="name" class="welcome">Hi, {{ name }}!</div>
        <div *ngIf="email" class="user-email">{{ email }}</div>
        <div *ngIf="!email" class="welcome">
          <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>
