:host {
  width: 100%;
}
.wrapper {
  position: relative;
  font-family: "DM Sans", sans-serif;
  border-radius: 20px;
  background-color: transparent;
  // padding: 40px;
  overflow: hidden;
}
.blocks-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block {
  position: relative;

  width: 30%;
  height: 149px;
  overflow: hidden;
  background: #03b664;
  border-radius: 20px;
  .amount {
    position: relative;
    padding-top: 30px;
    padding-left: 105px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #ffffff;
    &::before {
      content: " ";
      position: absolute;
      left: 50px;
      top: 37px;
      width: 45px;
      height: 45px;
      background: #ffffff;
      opacity: 0.2;
      border-radius: 10px;
    }
    img {
      position: absolute;
      left: 61px;
      top: 48px;
    }
    @media screen and (max-width: 1344px) and (min-width: 844px) {
      line-height: 59px;
      padding-left: 30%;
      &::before {
        content: " ";
        position: absolute;
        left: calc(10% - 12px);
        top: 37px;
        width: 45px;
        height: 45px;
        background: #ffffff;
        opacity: 0.2;
        border-radius: 10px;
      }
      img {
        position: absolute;
        left: 10%;
        top: 48px;
      }
    }
  }
  &::after {
  }
  span {
    position: relative;
    padding-top: 30px;
    padding-left: 105px;
    padding-top: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #ffffff;
    @media screen and (max-width: 1344px) and (min-width: 844px) {
      padding-top: 80px;
      padding-left: 35px;
    }
  }
}
.circle-after {
  position: relative;
  right: -250px;
  top: -10px;
  width: 136px;
  height: 136px;
  border-radius: 50%;

  background: #ffffff;
  opacity: 0.1;
}
.paid-invoices {
  background: #01beff;
}
.unpaid-invoices {
  background: #ffbf26;
}
.total-invoices-sent {
  background: #ff684d;
}
@media screen and (max-width: 844px) {
  .blocks-container {
    flex-direction: column;
  }
  .block {
    padding: 5px 10%;
    margin-top: 5px;
    width: 80%;
  }
}
