<mat-card>
  <mat-card-title>Set filter</mat-card-title>
  <mat-label>Выберите тип транзакций</mat-label>
  <section class="checkbox-horizontal">
    <ul>
      <li *ngFor="let t of data.invoiceTypes">
        <mat-checkbox
          #checkbox
          value="{{ t.type }}"
          (change)="toggleInvoiceTypes(checkbox)"
          >{{ t.text }}</mat-checkbox
        >
      </li>
    </ul>
  </section>
  <mat-label>Выберите период</mat-label>
  <section class="checkbox-horizontal">
    <ul>
      <li *ngFor="let p of data.invoicePeriod">
        <mat-checkbox
          #checkbox
          value="{{ p.type }}"
          (change)="toggleInvoicePeriod(checkbox)"
          >{{ p.text }}</mat-checkbox
        >
      </li>
    </ul>
  </section>

  <div class="buttons-panel">
    <button
      mat-fab
      [mat-dialog-close]="{selectedInvoiceTypes,selectedInvoicePeriod}"
      cdkFocusInitial
      color="primary"
      matTooltip="Apply filter"
    >
      <mat-icon>done</mat-icon>
    </button>

    <button
      type="button"
      mat-fab
      color="secondary"
      (click)="onNoClick()"
      aria-label="Add"
      matTooltip="Close filter form"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</mat-card>
