body {
  background: #ffffff;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
.aside {
  width: 344px;
}
.logo {
  margin: 45px 51px;
}
.logo h1{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
text-align: center;

color: #0E6EFF;
}
.menu {
  margin-left: 51px;
}
.menu li {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
