<!-- <div *ngIf="invoice">
  <h2>{{ invoice.name }} Details</h2>
  <div><span>id: </span>{{ invoice.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="invoice.name" placeholder="name" />
  </div>
</div>
<button (click)="save()">save</button>
<button (click)="goBack()">go back</button> 
select [checked]="invoiceTypeItem.type === invoice.type"
minuteStep="5" [(ngModel)]="invoice.date"-->

<div class="col-xs-8 col-xs-offset-2">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <!-- <dl-date-time-picker startView="day" maxView="year" minView="minute">
    </dl-date-time-picker> -->

    <div class="radio" *ngFor="let invoiceTypeItem of invoiceTypes">
      <label>
        <input
          ng-control="invoice.type"
          type="radio"
          name="invoiceType"
          formControlName="invoiceType"
          [value]="invoiceTypeItem.type"
          [(ngModel)]="invoice.type"
        />{{ invoiceTypeItem.text }}</label
      >
    </div>
    <div class="form-group">
      <label class="form-label">Invoice period</label>
      <select
        class="form-control"
        formControlName="period"
        [(ngModel)]="invoice.period"
      >
        <option value="0">daily</option>
        <option value="1">weekly</option>
        <option value="2">monthly</option>
        <option value="3">annually</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name" class="form-label">Name</label>
      <input
        [ngClass]="{
          'is-invalid': form.get('name')?.invalid && form.get('name')?.touched
        }"
        type="text"
        class="form-control"
        formControlName="name"
        [(ngModel)]="invoice.name"
      />
      <div id="validationServer03Feedback" class="invalid-feedback">
        Invoice name is required
      </div>

      <!-- <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Обязательный реквизит
      </p> -->
    </div>
    <div class="form-group">
      <label for="amount" class="form-label">Amount</label>
      <input
        [ngClass]="{
          'is-invalid':
            form.get('amount')?.invalid && form.get('amount')?.touched
        }"
        type="text"
        class="form-control"
        formControlName="amount"
        [(ngModel)]="invoice.amount"
      />
      <div id="validationServer03Feedback" class="invalid-feedback">
        Amount is a number
      </div>

      <!-- <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Обязательный реквизит
      </p> -->
    </div>

    <div class="form-group">
      <label for="date" class="form-label">Date</label>
      <input
        [ngClass]="{
          'is-invalid': form.get('date')?.invalid && form.get('date')?.touched
        }"
        type="text"
        class="form-control"
        formControlName="date"
        [(ngModel)]="invoice.date"
      />
      <div id="validationServer03Feedback" class="invalid-feedback">
        Invalid date
      </div>

      <!-- <p *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Обязательный реквизит
      </p> -->
    </div>

    <button class="btn btn-success" type="submit" [disabled]="form.invalid">
      Submit
    </button>
    <!-- <button type="button" (click)="save(); form.reset()">New Hero</button>
    <i>with</i> reset &nbsp;&nbsp;
    <button type="button" class="btn btn-default" (click)="newInvoice()">
      New Invoice
    </button>
    <i>without</i> reset -->

    <!-- NOT SHOWN IN DOCS -->
    <div>
      <hr />
      Name via form.controls = {{ showFormControls(form) }}
    </div>
    <!-- - -->
  </form>
</div>
<!-- </div> -->

<!-- ====================================================  -->
<div>
  <form>
    <!-- ... all of the form ... -->
  </form>
</div>
