<div class="transaction-table">
  <mat-card *ngIf="isLoaded">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="double">
        <mat-card-title>Invoice card</mat-card-title>

        <mat-form-field appearance="standard" id="card-id">
          <mat-label>Id</mat-label>
          <input
            [readonly]="true"
            matInput
            formControlName="id"
            type="text"
            class="form-control"
            matTooltip="You can not change id"
          />
        </mat-form-field>
      </div>

      <mat-radio-group
        aria-label="Select an option"
        formControlName="invoiceType"
      >
        <mat-radio-button
          *ngFor="let invoiceTypeItem of invoiceTypes"
          [value]="invoiceTypeItem.type"
        >
          {{ invoiceTypeItem.text }}</mat-radio-button
        >
      </mat-radio-group>
      <div class="double">
        <mat-form-field appearance="fill">
          <mat-label>Select Invoice period</mat-label>
          <mat-select formControlName="period">
            <mat-option [value]="0">daily</mat-option>
            <mat-option [value]="1">weekly</mat-option>
            <mat-option [value]="2">monthly</mat-option>
            <mat-option [value]="3">annually</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            [ngClass]="{
              'is-invalid':
                form.get('name')?.invalid && form.get('name')?.touched
            }"
            type="text"
            class="form-control"
            formControlName="name"
          />
          <mat-hint>Enter invoice name here</mat-hint>
          <mat-error
            *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
          >
            Invoice name required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="double">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Amount</mat-label>
          <input
            matInput
            [ngClass]="{
              'is-invalid':
                form.get('amount')?.invalid && form.get('amount')?.touched
            }"
            type="text"
            class="form-control"
            formControlName="amount"
          />
          <mat-hint>Please enter invoice amount</mat-hint>
          <mat-error
            *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched"
          >
            Please enter a valid number
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <!-- <mat-card-actions> -->
      <div class="buttons-panel">
        <button
          mat-fab
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          aria-label="save icon"
          matTooltip="Save displayed invoice"
        >
          <mat-icon>save</mat-icon>
        </button>

        <button
          mat-fab
          color="warn"
          (click)="deleteInvoice()"
          aria-label="delete icon"
          matTooltip="Delete displayed invoice"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          type="button"
          mat-fab
          color="primary"
          [disabled]="form.invalid"
          (click)="cloneInvoice()"
          aria-label="Clone"
          matTooltip="Clone displayed invoice"
        >
          <mat-icon>note_add</mat-icon>
        </button>

        <button
          type="button"
          mat-fab
          color="accent"
          (click)="reset()"
          aria-label="Reset"
          matTooltip="Clear form"
        >
          <mat-icon>backspace</mat-icon>
        </button>

        <button
          type="button"
          mat-fab
          color="secondary"
          (click)="goBack()"
          aria-label="Add"
          matTooltip="Close form"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <!-- </mat-card-actions> -->
    </form>
  </mat-card>
  <mat-card *ngIf="!isLoaded"><app-loader></app-loader></mat-card>
</div>
