<mat-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="invoice.type"
      formControlName="invoiceType"
    >
      <mat-card-title>Invoice card</mat-card-title>
      <mat-radio-button
        *ngFor="let invoiceTypeItem of invoiceTypes"
        [value]="invoiceTypeItem.type"
      >
        {{ invoiceTypeItem.text }}</mat-radio-button
      >
    </mat-radio-group>

    <mat-form-field appearance="fill">
      <mat-label>Select Invoice period</mat-label>
      <mat-select formControlName="period" [(ngModel)]="invoice.period">
        <mat-option value="0">daily</mat-option>
        <mat-option value="1">weekly</mat-option>
        <mat-option value="2">monthly</mat-option>
        <mat-option value="3">annually</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        [ngClass]="{
          'is-invalid': form.get('name')?.invalid && form.get('name')?.touched
        }"
        type="text"
        class="form-control"
        formControlName="name"
        [(ngModel)]="invoice.name"
      />
      <mat-hint>Invoice name required!</mat-hint>
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Invoice name required!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Amount</mat-label>
      <input
        matInput
        [ngClass]="{
          'is-invalid':
            form.get('amount')?.invalid && form.get('amount')?.touched
        }"
        type="text"
        class="form-control"
        formControlName="amount"
        [(ngModel)]="invoice.amount"
      />
      <mat-hint>Please enter a valid number</mat-hint>
      <mat-error
        *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched"
      >
        Please enter a valid number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="invoice.date"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-card-actions>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Submit
      </button></mat-card-actions
    >
  </form>
</mat-card>
