<mat-card class="login-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card-title>Register</mat-card-title>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        class="form-control"
        matTooltip="Enter you name"
        [ngClass]="{
          'is-invalid': form.get('name')?.invalid && form.get('name')?.touched
        }"
      />
      <mat-hint>Enter your name</mat-hint>
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        Username required!
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input
        matInput
        formControlName="email"
        type="text"
        class="form-control"
        matTooltip="Enter you email"
        [ngClass]="{
          'is-invalid': form.get('email')?.invalid && form.get('email')?.touched
        }"
      />
      <mat-hint>Enter your email</mat-hint>
      <mat-error *ngIf="form.get('email')?.errors?.['forbiddenEmail']">
        Email alredy used
      </mat-error>
      <mat-error *ngIf="form.get('email')?.errors?.['required']">
        Email required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.errors?.['email']">
        Email format error
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>password</mat-label>
      <input
        matInput
        formControlName="password"
        type="text"
        class="form-control"
        matTooltip="Enter you password"
      />
      <mat-hint>Enter your password</mat-hint>
      <mat-error
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        Password required! Min length - 6 symbols.
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      aria-label="Add"
      matTooltip="login"
    >
      Register
    </button>

    <div class="register">or <a routerLink="/login">Login</a></div>
  </form>
</mat-card>
