<app-invoice-blocks
  [incomeInvoices]="mounthlyIncome"
  [outcomeInvoices]="mounthlyOutcome"
  [mounthlyDifference]="mounthlyIncome - mounthlyOutcome"
></app-invoice-blocks>
<div class="charts">
  <app-pie-chart
    [data]="incoming"
    [type]="'Incoming invoices: ' + mounthlyIncome + '$ mounthly'"
  ></app-pie-chart>
  <app-pie-chart
    [data]="outcoming"
    [type]="'Outcoming invoices: ' + mounthlyOutcome + '$ mounthly'"
  ></app-pie-chart>
</div>
<div *ngIf="isLoaded" class="transaction-table">
  <div class="transaction-table-header">
    <H2>Summary invoices</H2>

    <mat-form-field appearance="fill">
      <mat-label>Select filter</mat-label>
      <mat-select
        ([ngModel])="(typeFilter)"
        (selectionChange)="eventSelection($event)"
      >
        <mat-option
          *ngFor="let t of thisInvoiceEnumType | keyvalue"
          [value]="t.value"
          >{{ t.value }}</mat-option
        >
        <mat-option [value]="'none'">No filter</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      type="button"
      mat-fab
      color="secondary"
      (click)="openDialog()"
      aria-label="Add"
      matTooltip="Filter this page"
    >
      <mat-icon> filter_alt </mat-icon>
    </button>
  </div>

  <div
    *ngFor="let invoice of invoices | cutArray: typeFilter"
    class="transaction"
  >
    <div class="column1">
      <a routerLink="detail/{{ invoice.id }}">
        <div class="transaction-id"># {{ invoice.id }}</div>
      </a>
      <div class="transaction-correspondent" [ngClass]="invoice.invoiceType">
        {{ invoice.name | cutText: 12 }}
      </div>
    </div>
    <div class="column2">
      <div class="amount">$ {{ invoice.amount }}</div>

      <div>
        <p>{{ invoice.period }}</p>
      </div>
    </div>

    <div class="column3">
      <div class="transaction-date">{{ invoice.date | date }}</div>
    </div>
    <div class="column3">
      <img src="../../../../assets/print.png" alt="" />
    </div>
    <div class="column3">
      <div class="else">...</div>
    </div>
  </div>
  <a routerLink="detail/new">
    <div class="add-button">
      <mat-icon aria-hidden="false" color="primary" matTooltip="Add invoice"
        >add</mat-icon
      >
    </div>
  </a>
  <mat-paginator
    [length]="invoicesCount"
    [pageSize]="4"
    aria-label="Select page"
    (page)="getTransactions($event)"
  >
  </mat-paginator>
</div>
<div *ngIf="!isLoaded" class="transaction-table">
  <app-loader></app-loader>
</div>
