<div class="transaction-table">
  <H2>Summary invoices</H2>

  <div *ngFor="let invoice of invoices" class="transaction">
    <div class="column1">
      <a routerLink="detail/{{ invoice.id }}">
        <div class="transaction-id"># {{ invoice.id }}</div>
      </a>
      <div
        class="transaction-correspondent"
        [ngClass]="{
          income: invoice.invoiceType === 0,
          outcome: invoice.invoiceType === 1
        }"
      >
        {{ invoice.name }}
      </div>
    </div>
    <div class="column2">
      <div class="amount">$ {{ invoice.amount }}</div>
      <div [ngSwitch]="invoice.period">
        <p *ngSwitchCase="0">daily</p>
        <p *ngSwitchCase="1">weekly</p>
        <p *ngSwitchCase="2">monthly</p>
        <p *ngSwitchCase="3">annually</p>
      </div>
    </div>

    <div class="column3">
      <div class="transaction-date">{{ invoice.date | date }}</div>
    </div>
    <div class="column3">
      <img src="../../../../assets/print.png" alt="" />
    </div>
    <div class="column3">
      <div class="else">...</div>
    </div>
  </div>
  <a routerLink="detail/new">
    <div class="add-button">
      <mat-icon aria-hidden="false" color="primary" matTooltip="Add invoice"
        >add</mat-icon
      >
    </div>
  </a>
  <mat-paginator
    [length]="100"
    [pageSize]="4"
    aria-label="Select page"
    (page)="getTransactions($event)"
  >
  </mat-paginator>
</div>
<!-- [pageSizeOptions]="[5, 10, 25, 100]" -->
