.transaction-table {
  position: relative;
  font-family: "DM Sans", sans-serif;
  margin: 20px;
  width: 1097px;
  height: 597px;
  border-radius: 20px;
  background-color: white;
  padding: 40px;
  overflow: hidden;
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #171b1e;
    padding-bottom: 41px;
  }
  ul {
    li {
      &:before {
        position: absolute;
        width: 42px;
        height: 42px;
        left: 435px;
        top: 479px;

        background: #0e6eff;
        border-radius: 5px;
      }
    }
  }
}
.transaction {
  padding-bottom: 53px;
  &:first-child {
    padding-top: 41px;
    background-color: aqua;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
}
.column2 {
  width: 10%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  line-height: 23px;
  color: #171b1e;
  margin: 0;
  .amount-label {
    font-size: 14px;
    line-height: 18px;
    color: #72757a;
    &::before {
      content: url("../../../../assets/amount.png");
      position: absolute;
      left: -50px;
      top: 0;
      // padding: 12px;
      background: transparent;
      opacity: 1;
      border-radius: 5px;
    }
  }

  .amount {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }
}
.column3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  .transaction-date {
    font-size: 14px;
    line-height: 18px;
    color: #72757a;
  }
  .else {
    color: #a9afb8;
    font-size: 3rem;
    position: relative;
    top: -30px;
  }
}

.transaction-id {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #01beff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  p {
    padding-left: 10px;
  }
}
.transaction-correspondent {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #171b1e;
}
.outcome {
  color: red;
  &:after {
    content: "⇘";
  }
}
.income {
  color: green;
  &:after {
    content: "⇗";
  }
}
.add-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #a4dff5;
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  text-decoration: none;
  .mat-icon {
    margin: auto;
  }
}
